@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
*{margin: 0; padding: 0;}
#container{width: 1100px; margin: 0 auto;}

/* header 영역 */
header{height: 100px; background-color: beige;}
header #logo{width: 250px; float: left; padding: 25px;}
header h1{color: rgb(6, 116, 2); font-family: 'Merienda', cursive;}
nav{width: 700px; float: right;}
nav #topMenu{list-style: none; padding: 25px; text-align: right; margin-right: 100px;}
nav #topMenu li{display: inline-block; margin: 15px 20px;}
nav #topMenu li a{text-decoration: none; color: #000;}
nav #topMenu li a:hover{color: rgb(6, 116, 2);}

/* 본문 영역 */
.contents{width: 1000px; margin: 40px auto;}
main section{height: 300px; margin-top: 30px;}
main div{margin-top: 20px;}
.contents .detail img{float: left; margin-right: 50px; border-radius: 20px;}
.contents .detail p{line-height: 2em;}
.contents .schedule ul{list-style: none;}
.contents .schedule ul li{margin: 10px;}

/* footer 영역 */
footer{height: 100px; border-top: 2px solid #222;}
footer #bottomMenu{list-style: none; margin: 10px 20px 10px 80px; }
footer #bottomMenu li{display: inline-block;  margin: 10px 0; padding: 0 20px; 
  border-right: 1px solid #ccc;}
footer #bottomMenu li:last-child{border: none}
footer #bottomMenu li a{text-decoration: none; color: #333;}
